<h1>Contact Me</h1>

<h3>Kristina Calumpong</h3>
<p>Web Developer</p>
<a href="tel:310.775.3346">Phone: +1 (310) 775-3346</a><br>
<a href="mailto:k@kristinacalumpong.dev">Email: k@kristinacalumpong.dev</a>